<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Biblyozh</title>
    <link rel="stylesheet" href="info.css">
</head>

<body>
    <header>
        <div class="header-container">
            <a class="logo" href="/main">
                <img src="../../static/images/logo.svg" alt="logo img" class="logo-img">
            </a>

            <nav class="header-nav">
                
                <ul class="header-list">
                    <li class="header-list-item">
                        <a href="/reader" class="header-link">
                            Читать 
                        </a>
                    </li>

                    <li class="header-list-item">
                        <a href="/library" class="header-link">
                            Библиотека
                        </a>
                    </li>

                    <li class="header-list-item">
                        <a href="/login" class="header-link login-link">
                            Войти
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="title-container">
            <div class="book-name-container">
                <h1 class="book-name">Название книги</h1>
                <button class="change-name-btn"><img src="" alt=""></button>
            </div>
            <h2 class="author">Автор книги</h2>
        </div>

        <div class="content-container">
            <div class="book-info">
                <div class="cover-and-progress"></div>
                <div class="buttons"></div>
            </div>
            <div class="notes-container">
                <h2 class="notes-title">Заметки</h2>

                <div class="note">
                    <div class="page">
                        <img src="" alt="">
                        <span>с. 256</span>
                    </div>

                    <div class="book-text">
                        В начале сотворил Бог небо и землю. Земля же была безвидна и пуста, и тьма над бездною...
                    </div>

                    <div class="buttons">
                        <button class="delete-note"><img src="" alt=""></button>
                        <button class="link-to-book"><img src="" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="bookmarks-container">
                <h2 class="bookmarks-title">Закладки</h2>
                <div class="last-bookmark">Стр. 138</div>
                <ul class="bookmarks-list">
                    <li class="bookmark"></li>
                </ul>
            </div>
        </div>

    </main>
</body>

</html>