<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Biblyozh</title>
    <!-- <link rel="stylesheet" href="css\normalize.css"> -->
    <link rel="stylesheet" href="css\library.css">
</head>

<body>
    <header>
        <div class="header-container">
            <a class="logo" href="#">
                <img src="#" alt="logo img">
            </a>

            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-list-item">
                        <a href="#" class="header-link">
                            Читать 
                        </a>
                    </li>

                    <li class="header-list-item">
                        <a href="#" class="header-link">
                            Библиотека
                        </a>
                    </li>

                    <li class="header-list-item">
                        <a href="#" class="header-link">
                            Войти
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <h1 class="library-title">Библиотека</h1>
    <div class="container">
        <div class="book-names-container">
            <div class="names-list">
                <button class="book-name"></button>
            </div>
            <div class="add-book-container">
                <button class="add-book"></button>
            </div>
        </div>

        <div class="books-container">
            <button>
                <div class="cover-container">
                    <img src="#" alt="">
                </div>
                <div class="book-info"></div>
            </button>
        </div>
    </div>    
</body>


</html>
