<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Biblyozh</title>
    <link rel="stylesheet" href="../static/styles/library.css">
</head>

<body>
<header>
    <div class="header-container">
        <a class="logo" href="/">
            <img src="../static/images/logo.svg" alt="logo img" class="logo-img">
        </a>

        <nav class="header-nav">

            <ul class="header-list">
                <li class="header-list-item">
                    <a href="/reader" class="header-link">
                        Читать
                    </a>
                </li>

                <li class="header-list-item">
                    <a href="/library" class="header-link">
                        Библиотека
                    </a>
                </li>

                <li class="header-list-item">
                    <a href="/logout" class="header-link login-link">
                        Выйти
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>


<main>
    <div class="container">
        <div class="book-names-container">
            <div class="names-list">
                {% for book in book_names %}
                    <a href="/reader/{{ book[1] }}" class="book-name">{{ book[0] }}</a>
                {% endfor %}
            </div>

            <a href="/upload">
                <button class="add-book"><img src="../static/images/plus.png" alt=""><span class="add-book-label">Добавить книгу</span>
                </button>
            </a>
        </div>

        <div class="books-container">
            <div class="books-elems-container">
                {% for book in books %}
                    <a href="/reader/{{ book.id }}">
                        <button class="book">
                            <div class="cover-container">
                                <img class="cover-img" src="../static/{{ book.cover_path }}" alt="">
                            </div>
                            <div class="book-info">
                                <div class="progress-bar">
                                    <div class="completed"
                                         style="width: {{ (book.last_page|int) / book.work_size * 10000 // 1 /100 }}%"></div>
                                    <div class="remain"></div>
                                </div>
                                <div class="info">
                                    <span class="pages">{{ book.last_page }}/{{ book.work_size }}</span>
                                    <span class="name">{{ book.name }}</span>
                                    <span class="percentage">{{ (book.last_page|int) / book.work_size * 10000 // 1 /100 }}%</span>
                                </div>
                            </div>
                        </button>
                    </a>

                {% endfor %}
                <!--                    -->
                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </button>-->

                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </button>-->

                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </button>-->

                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </button>-->

                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </button>-->

                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </button>-->

                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </button>-->

                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </button>-->

                <!--                    <button class="book">-->
                <!--                        <div class="cover-container">-->
                <!--                            <img src="#" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="book-info">-->
                <!--                            <div class="progress-bar">-->
                <!--                                <div class="completed"></div>-->
                <!--                                <div class="remain"></div>-->
                <!--                            </div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="pages">2534/6643</span>-->
                <!--                                <span class="name">Название книги</span>-->
                <!--                                <span class="percentage">34.68%</span>-->
            </div>
        </div>
        </button>
    </div>
    </div>

    </div>

</main>

</body>


</html>
</style>