<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reader.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
<header>
    <div class="header-container">
        <a class="logo" href="/">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo img" class="logo-img">
        </a>

        <nav class="header-nav">

            <ul class="header-list">
                <li class="header-list-item">
                    <a href="/reader" class="header-link">
                        Читать
                    </a>
                </li>

                <li class="header-list-item">
                    <a href="/library" class="header-link">
                        Библиотека
                    </a>
                </li>

                <li class="header-list-item">
                    <a href="/logout" class="header-link login-link">
                        Выйти
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="buttons-container">
    <button class="up-comment-button" onclick="play()">Смешной звук</button>
    <div class="next_page_and_btns">
        <a href="/reader/{{ book.id }}/{{ prev_page }}"><img class="next_page_img"
                                                             src="{{ url_for('static', filename='images/prev_page.svg') }}"
                                                             alt=""></a>
        <div class="button-row">
            <a onclick='save()'><img class="comment-img" data-target="#modal1"
                    src="{{ url_for('static', filename='images/comment.png') }}" alt=""></a>
            <form id="bookmark_form">
                <input style="display: none" type="text" id="book_id" value="{{ book_id }}">
                <input style="display: none" type="text" id="page" value="{{ page }}">
                <button id="btn"><img id="bookmark" class="bookmark-img"
                                      style="display: {% if have_bookmark %}none{% else %}inherit{% endif %}"
                                      src="{{ url_for('static', filename='images/bookmark_img.svg') }}"
                                      alt="">
                    <img id="bookmark-filled" class="bookmark-img-filled"
                         style="display: {% if have_bookmark %}inherit{% else %}none{% endif %}"
                         src="{{ url_for('static', filename='images/bookmark_filled_img.png') }}"
                         alt="">
                </button>
            </form>
        </div>
        <a href="/reader/{{ book.id }}/{{ next_page }}"><img class="next_page_img"
                                                             src="{{ url_for('static', filename='images/next_page.svg') }}"
                                                             alt=""></a>
    </div>
    <a href="/about/{{ book.id }}">
        <div class="up-about-book-button">О книге</div>
    </a>

    <div class="modal" id="modal1">
        <div class="materialContainer">
            <div class="box">
                <form id="note_form">
                    <div class="title">Добавить заметку</div>
                    <div class="input">
                        <label for="note">Комментарий (опционально)</label>
                        <input class="form-control" id="note" type="text">
                        <span class="spin"></span>
                    </div>

                    <div class="button login">
                        <button onclick="makeNote()"><span>Добавить</span> <i class="fa fa-check"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
</div>


<div class="page-content">
    <div class="left-container">
        <button class="quotes-button" onclick="play()">Смешной звук</button>
    </div>

    <div class="text-container">
        <div id="content" class="content"> {{ page_content }} </div>

        <div class="book-info-container">
            <div class="cover-and-progress">
                <div class="book">
                    <div class="cover-container">
                        <img class="cover-img" src="../static/{{ book.cover_path }}" alt="">
                    </div>
                    <div class="book-info">
                        <div class="progress-bar">
                            <div class="completed"
                                 style="width: {{ book.last_page|int / book.work_size * 10000 // 1 /100 }}%"></div>
                            <div class="remain"></div>
                        </div>
                        <div class="info">
                            <span class="pages">{{ book.last_page|int }}/{{ book.work_size }}</span>
                            <span class="name">{{ book.name }}</span>
                            <span class="percentage">{{ (book.last_page|int) / book.work_size * 10000 // 1 /100 }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="right-container">
        <a href="/about/{{ book.id }}">
            <div class="about-book-button">О книге</div>
        </a>
    </div>
</div>
</body>
<input id="memory" style="display: none" value="">
<script src="{{ url_for('static', filename='scripts/reader.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/note.js') }}"></script>
<script>
    function play() {
        var audio = new Audio(
            '{{ url_for('static', filename='metal-pipe-falling-sound-effect.mp3') }}');
        audio.play();
    }
</script>
</html>
