@font-face {
    font-family: 'Mariupol';
    src: local('Mariupol-Medium'),
    url('../fonts/mariupol-medium.ttf'), format("ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol';
    src: local('Mariupol-Bold'),
    url('../fonts/mariupol-bold.ttf'), format("ttf");
    font-weight: 800;
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
}

header {
    background-color: #E8CDAE;
    height: 62px;
    margin-bottom: 25px;
}

.header-container {
    min-width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    padding-top: 10px;
    width: 100%;
    font-family: 'Mariupol';
    font-weight: 600;
}

.header-list {
    list-style-type: none;
    margin: 0;
}

.header-list-item {
    display: inline;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    padding: 25px;
}

.header-nav {
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 100px;
}

.login-link {
    font-weight: 800;
}

.logo {
    margin-left: 85px;
}

body {
    margin: 0;
    background-color: #F0D9BE;
}

.button-row {
    text-align: center;
    background-color: #F6CA97;
    padding: 8px 0;
    border-radius: 20px;
    width: 240px;
    margin: 10px auto;
}

.page-content {
    display: flex;

}

.left-container {
    width: 170;
    margin-left: 10%;
    margin-right: 60px;
}

.notes-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.comment-button {

    font-weight: bolder;
    width: 150px;
    margin: 3% 0;
    padding: 8px 40px;
    border-radius: 10px;
    background-color: #F6CA97;
    border-style: none;
}

.quotes-button {
    font-weight: bolder;
    width: 150px;
    margin: 3% 0;
    padding: 8px 40px;
    border-radius: 10px;
    background-color: #F6CA97;
    border-style: none;
}

.bookmark-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.bookmarks {
    text-align: center;
    font-weight: bolder;
}



.text-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #E8CDAE;
    padding: 50px;
    border-radius: 25px;
}

.content {
    font-size: 22px;
}

.progress-bar-overall {
    display: float;
}

.empty-progress-bar{
    background-color: white;
    width: 100%;
    height: 10px;
}

.completed-progress-bar{
    background-color: black;
    width: 100%;
    height: 10px;
}

.progress-parent {
    display: flex;
}

.progress-percent {
    flex: 1;
}

.page-count {
    flex: 10;
}

.right-container {
    width: 170;
    margin-right: 10%;
    margin-left: 60px;
}

.content-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.contents {
    text-align: center;
    font-weight: bolder;
}

.about-book-button{
    text-align: center;
    font-weight: bolder;
    width: 150px;
    margin: 3% 0;
    padding: 8px 5px;
    border-radius: 10px;
    background-color: #F6CA97;
    border-style: none;
}
