@font-face {
    font-family: 'Mariupol';
    src: local('Mariupol-Medium'),
    url('../fonts/mariupol-medium.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol';
    src: local('Mariupol-Bold'),
    url('../fonts/mariupol-bold.ttf') format("truetype");
    font-weight: 800;
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
}

header {
    background-color: #E8CDAE;
    height: 62px;
    margin-bottom: 25px;
}

button{
    font-family: "Mariupol";
}

.header-container {
    min-width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    padding-top: 10px;
    width: 100%;
    font-family: 'Mariupol';
    font-weight: 600;
}

.header-list {
    list-style-type: none;
    margin: 0;
}

.header-list-item {
    display: inline;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    padding: 25px;
}

.header-nav {
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 100px;
}

.login-link {
    font-weight: 800;
}

.logo {
    margin-left: 85px;
}

body {
    font-family: "Mariupol";
    margin: 0;
    background-color: #F0D9BE;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    background-color: #F6CA97;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 20px;
    width: 240px;
    margin: 10px auto;
    max-width: 150px;
    min-width: 120px;
}

.page-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Mariupol";
    margin-left: 20px;
    width: 170px;
}

.notes-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-button {
    font-weight: bold;
    width: 150px;
    margin: 3% 0;
    padding: 8px 0;
    border-radius: 10px;
    background-color: #F6CA97;
    border-style: none;
}

.quotes-button {
    font-weight: bold;
    width: 150px;
    margin: 3% 0;
    padding: 8px 40px;
    border-radius: 10px;
    background-color: #F6CA97;
    border-style: none;
}

.bookmark-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.bookmarks {
    text-align: center;
    font-weight: bolder;
}

.text-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #E8CDAE;
    padding: 50px;
    border-radius: 25px;
    min-width: 600px;
    max-width: 850px;
}

.content {
    font-family: "Cambria";
    font-size: 22px;
}

.right-container {
    width: 170px;
    margin-right: 20px;
}

.content-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.contents {
    text-align: center;
    font-weight: bolder;
}

.about-book-button{
    text-align: center;
    font-weight: bolder;
    width: 150px;
    margin: 3% 0;
    padding: 8px 5px;
    border-radius: 10px;
    background-color: #F6CA97;
    border-style: none;
}

.up-about-book-button {
    display: none;
}

.up-comment-button {
    display: none;
}

.comment-img {
    width: 21px;
    height: 21px;
}

.highlight-img {
    width: 23px;
    height: 21px;
}

@media (max-width: 1120px) {
    .button-row {
        margin: 0;
        padding-bottom: 0;
    }

    .page-content {
        max-width: 600px;
        margin: auto;
    }

    .left-container {
        display: none;
    }

    .right-container {
        display: none;
    }

    .up-about-book-button {
        font-size: 15px;
        display: inherit;
        text-align: center;
        padding-top: 11px;
        font-weight: bolder;
        width: 150px;
        border-radius: 20px;
        background-color: #F6CA97;
        border-style: none;
        height: 25px;
    }

    .up-comment-button {
        padding-top: 10px;
        min-width: 150px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-weight: bolder;
        width: 150px;
        border-radius: 20px;
        background-color: #F6CA97;
        border-style: none;
        height: 36px;
    }

    .buttons-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        gap: 40px;
    }
}


.bookmark-img {
    width: 21px;
    height: 21px;
}

.container {
  width: 992px;
  margin: 0 auto;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.btn:active {
  transform: scale(0.9);
}

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 100;
  background-color: #fff;
}

.modal.active {
  top: 15%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
  padding: 0.75rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}